<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Sign Up</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->
<!--================login_part Area =================-->
<section class="login_part section_padding ">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6">
        <div class="login_part_form">
          <div class="login_part_form_iner">
            <h2 class="font-weight-bold">
              Create an account!<br>
            </h2>
            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="name" name="name" value=""
                       placeholder="Email">
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="name" name="name" value=""
                       placeholder="Username">
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="password" class="form-control" id="password" name="password" value=""
                       placeholder="Password">
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="password" class="form-control" id="password" name="password" value=""
                       placeholder="Confirm Password">
              </div>
              <div class="col-md-12 form-group">
                <div class="creat_account d-flex align-items-center">
                  <p>By creating an account you are accepting our <a href="#" class="text-black-50">Terms & Conditions</a></p>
                </div>
                <button type="submit" value="submit" class="btn_3">
                  Sign Up
                </button>
                <div class="text-center">
                  <p>Or sign up with:</p>
                  <a href="https://www.facebook.com/login/" class="genric-btn info circle" target="_blank">
                    <i class="fab fa-facebook-f text-black"></i>
                  </a>
                  <a href="https://accounts.google.com/" class="genric-btn info circle" target="_blank">
                    <i class="fab fa-google"></i>
                  </a>


                  <a href="https://twitter.com/i/flow/login" class="genric-btn info circle" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="https://github.com/login" class="genric-btn info circle" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="login_part_text text-center">
          <div class="login_part_text_iner">
            <h2>Already have an Account?</h2>
            <p>
              There are advances being made in science and technology
              everyday, and a good example of this is the
            </p>
            <a asp-controller="Home" asp-action="Login" class="btn_3">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================login_part end =================-->