@model ApplicationUser

<main class="main">
  <div class="page-content" style="color:#000f">
    <div class="cart">
      <div class="container">
        <div class="row">
          <aside class="col-lg-3 aside-color">
            <div class="user-info mb-10">
              <div class="d-flex align-items-center mb-10 mt-10">
                <img class="mr-10" src="~/assets/img/client_2.png" alt="User Avatar">
                <p class="mb-1">User Name</p>
              </div>
              <!-- Tài khoản của tôi -->
              <div class="user-links d-flex flex-column p-2">
                <div class="d-flex align-items-center">
                  <i class="fa fa-user-circle"></i>
                  <a asp-controller="Home" asp-action="TaiKhoan" class="btn__donhang">Tài khoản của tôi</a>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-book"></i>
                  <a asp-controller="Home" asp-action="DonHang" class="btn__donhang">Đơn mua</a>
                </div>
                <div class="d-flex align-items-center">
                  <i class="fa fa-bell"></i>
                  <a href="#" class="btn__donhang">Thông báo</a>
                </div>
              </div>
            </div>
          </aside><!-- End .col-lg-3 -->
          <div class="col-lg-9">
            <div class="container mt-4">
              <div class="">
                <h1 class="text-center mb-4">Thông Tin Cá Nhân</h1>
                <form action="TaiKhoan" method="post">
                  <div class="mb-3">
                    <label for="Name" class="form-label">Họ và tên:</label>
                    <input asp-for="@Model.Name" type="text" class="form-control" id="fullName" />
                  </div>
                  <div class="mb-3">
                    <label for="Email" class="form-label">Email:</label>
                    <input asp-for="@Model.Email" type="email" class="form-control" id="email" />
                  </div>
                  <div class="mb-3">
                    <label for="PhoneNumber" class="form-label">Số điện thoại:</label>
                    <input asp-for="@Model.PhoneNumber" type="tel" class="form-control" id="phoneNumber" />
                  </div>
                  <div class="mb-3">
                    <label for="Address" class="form-label">Địa chỉ:</label>
                    <input asp-for="@Model.Address" type="tel" class="form-control" id="phoneNumber" />
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div><!-- End .row -->
      </div><!-- End .container -->
    </div><!-- End .cart -->
  </div><!-- End .page-content -->
</main><!-- End .main -->
