@model IEnumerable<Category>

@foreach (var item in Model)
{
  <div class="select_option_dropdown">
    <p><a class="cursor-pointer" asp-controller="Admin" asp-action="AdminProducts" asp-route-loaiId="@item.LoaiId">@item.Name</a></p>
  </div>
}